.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.tipo-container {
    margin-top: 20px;
}

.tabRamo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.ramo-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
close:focus {
    color: black;
    cursor: pointer;
}